.CircularProgressbar {
  width: 33% !important;

  .CircularProgressbar-text {
    font-size: 16px;
  }
}

.CircularProgressbar-text {
  font-family: ArialRoundedMTBold;
}

.CircularProgressbar-path {
  stroke-width: 0;
}



.CircularProgressbar-trail {
  stroke-width: 0;
}

.countdown-time__show-progress-bar {
  .CircularProgressbar-path {
    stroke-width: 4.2;
  }

  .CircularProgressbar-trail {
    stroke-width: 2;
  }
}
.CircularProgressbar-background {
  fill-opacity: 0;
}
