.main-container {
  height: 100%;

  &--light {
    background-image: linear-gradient(
      155deg,
      #fafafa 0%,
      #f1f1f1 47%,
      #cecece 100%
    );
    color: #4d4d4d;
  }
  &--dark {
    background-image: linear-gradient(
      155deg,
      #696969 0%,
      #5d5d5d 48%,
      #1f1f1f 100%
    );
    color: #f3f3f3;
  }
  .main-wrapper {
    display: flex;
  }

  .description-container {
    width: 50%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__description-wrapper {
      width: 75%;
    }
    p {
      font-family: ArialRoundedMTBold;
      font-size: 16px;
      line-height: 20px;
    }
    &__app-links {
      display: flex;
      justify-content: space-around;
      width: 75%;
      cursor: pointer;
      margin-top: 70px;
    }
  }

  .device-container {
    margin-top: 10%;

    .device-wrapper {
      position: relative;
      margin-left: 100px;
      &__timers {
        position: absolute;
        width: 600px;
        top: 140px;
        left: 51px;
        z-index: 50;
      }

      &__restart-icon {
        position: absolute;
        top: 420px;
        left: 120px;
        z-index: 101;
        cursor: pointer;
      }

      &__device-frame {
        position: absolute;
        z-index: 100;
      }

      &__background-image-overlay {
        position: absolute;
        width: 240px;
        height: 520px;
        left: 18px;
        top: 16px;
        z-index: 20;

        &--light {
          background-color: rgba(255, 255, 255, 0.4);
        }

        &--dark {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  @media (max-width: 767px) {
    .device-container {
      display: none;
    }
    .description-container {
      width: 100%;
      margin-top: 100px;

      &__app-links {
        flex-direction: column;
        img {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (width: 320px) {
    .description-container {
      &__app-links {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .main-container {
    .description-container p {
      line-height: 26px;
    }
    .description-container__app-links {
      min-width: 340px;
      margin-top: 60px;
    }
    .description-container {
      margin-top: 140px;
    }
    .device-container {
      .device-wrapper {
        margin-left: 40px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main-container {
    .description-container p {
      line-height: 30px;
    }
    .description-container__app-links {
      min-width: 340px;
      margin-top: 60px;
    }
    .description-container {
      margin-top: 140px;
    }
    .device-container {
      .device-wrapper {
        margin-left: 70px;
      }
    }
  }
}
